/* SIDEBAR STYLES */
.leftSidebar{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 58%);
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.6);
    width: 200px;
    height: 100vh;
    padding: 20px 20px;
    overflow-y: auto;
}

.searchBar {
    width: 70%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    margin-right: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.3);
    outline: none;
}

.searchBtn{
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 58%);
    background-color: hsl(214, 100%, 88%);
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;

    /* Font styling */
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
    font-size: 1rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}

.categoryBtns button{
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 58%);
    background-color: hsl(134, 49%, 68%);
    padding: 7px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;

    /* Font styling */
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
    font-size: 1rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}



.myListsBtns button{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 58%);
    background-color: hsl(134, 49%, 68%);
    color: black;
    padding: 5px 7px;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;

    /* Font styling */
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
    font-size: 1rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}

.myListsTitle{
    font-weight: bold;
    font-size: 1.2rem;
}

.createListBtn{
    cursor: pointer;
}


button:hover{
    background-color: hsl(60, 56%, 100%);
    transform: scale(1.03);
}


.categoryBtns { 
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
    font-size: 1rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
}